# C++
*.o
*.out

# Python
__pycache__/

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# project specific
build/**
lib/*
*.a
*.cmake

# vim specific
*.swp
*.swo

# Text
.~*
